body{
    margin: 0;
    padding: 0;
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #F1F2B5);
    /*the same background colour with mainpage*/
}

h1{
    padding-top: 1.5em;
    text-align: center;
}


#maxbox{
    margin: 0 auto;
    background-color: #00000090;
    text-align: center;
    width: 40%;
    border-style: solid;
}

#signup{
    margin-top: 1em;
    color: white;
    font-size: 22px;
}

#login{
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    font-size: 22px;
}

#signup a{
    color: #3498db
}

#login a{
    color: #3498db
}

#fig {
    float: left;
    margin-top: 2em;
    margin-left: 7em;
    margin-right: auto;
    border-color:antiquewhite;
    border-style: solid;
}

img {
    margin: 1em;
    display: block;
}


#tags {
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2em;
    margin-left: auto;
    padding-top: 3%;
    padding-right: 23%
}