<!--this html create the page of inbox-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inbox</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/post_list.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"> -->
</head>

<body>
    <header>
        <a href="{% url 'author_inbox' author_id %}" class="logo">Inbox</a>
        <ul class="navigation">
            <li><a href="{% url 'main_page' author_id %}">Main Page</a></li>
            <li><a href="{% url 'author_profile' author_id %}">User Profile</a></li>
            <li><a href="{% url 'add_post' author_id %}">Post</a></li>
        </ul>
    </header>

    <div style="margin: 1% 5%; width: 900px;">
        {% for friend_request in friend_request_list %}
            <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-color: #F1F2B5"></div>
                <ul class="details"></ul>
            </div>
                <div class="description">
                    <h1>Friend Request from {{ friend_request.actor.displayName }}</h1>
                    <h2>Click Follow to Follow Him/Her</h2>
                    <form action="{% url 'author_inbox' author_id%}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name='follow_button_{{friend_request.actor.displayName}}' value='Follow'>Follow</button></pre><br>
                    </form>
                </div>
            </div>
        {% endfor %}
        {% for post in posts %}
            <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-color: #F1F2B5"></div>
                <ul class="details"></ul>
            </div>
                <div class="description">
                    {% if post.visibility == 'PRIVATE' %}
                        <h1>private post from {{ post.author.displayName }}</h1>
                    {% else %}
                        <h1>friend post from {{ post.author.displayName }}</h1>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <a href="{% url 'show_post' author_id post.id %}">details</a>
                    </p>
                </div>
            </div>
        {% endfor %}


    </div>

</body>

</html>
