<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Profile</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/post_list.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <a href="{% url 'author_profile' author.id %}" class="logo">User Profile</a>
            <ul class="navigation">
                <li><a href="{% url 'main_page' author.id %}">Main Page</a></li>
                <li><a href="{% url 'author_inbox' author.id %}">Inbox</a></li>
                <li><a href="{% url 'add_post' author.id %}">Post</a></li>
            </ul>
        </header>

        <div style="margin: 1% 0.1%; width: 55%;">
            {% for p in p_list %}
                <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                
                        <h1>{{ p.author.displayName }}</h1>
                        <h2>{{ p.published }}</h2>
                        <p>{{ p.content }}</p>
                
                        <p class="read-more">
                            <a href="{% url 'show_post' author.id p.id %}">Read More</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div style="width: 30%">
            <strong style="font-size: 30pt"> {{author.displayName}} </strong><br><br>
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                        <p>Modify User Info</p>                
                        <p class="read-more">
                            <a href="{% url 'edit_profile' author.id %}">-></a>
                        </p>
                    </div>
            </div>

            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                        <p>My Followers</p>                
                        <p class="read-more">
                            <a href="{% url 'my_followers' author.id %}">-></a>
                        </p>
                    </div>
            </div>

            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                        <p>My Follows</p>                
                        <p class="read-more">
                            <a href="{% url 'my_follows' author.id %}">-></a>
                        </p>
                    </div>
            </div>

            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                        <p>My Friends</p>                
                        <p class="read-more">
                            <a href="{% url 'my_friends' author.id %}">-></a>
                        </p>
                    </div>
            </div>
        </div>

    </body>
</html>