<!--this html create the page before the login page which is used the basic information of our app-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <form action="/socialapp/index/" method="GET">
            {% csrf_token %}
        
            <h1>Welcome to SocialApp</h1>
    
            <div id="maxbox">
            <div id="signup">
                Create a new account! <a href='/socialapp/register/'>Sign Up</a>
            </div>
                    
            <div id="login">
                Already have account? <a href='/socialapp/login/'>Log In</a>
            </div>
            </div>

            <div id="fig">
                <img src="/static/img/img.jpg" alt="App Image">
            </div>

            <div id="tags">
                <p>
                    <ul>
                        <li>Social Community</li><br><br>
                        <li>Diversity and Inclusion</li><br><br>
                        <li>Interact with Friends&Strangers</li><br><br>
                        <li>Show Yourself</li>
                    </ul>
                </p>
            </div>
        </form>
    </body>
</html>