<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LogIn</title>
    </head>
    <body>
        <div style="margin: 15% 40%;">
            <form action="/socialapp/login/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type='submit' value="Login">
            </form>
            <!--下面一行因为没有mainpage临时在这，之后改一下-->
            <a href='/socialapp/add_post/'>Add Post Page</a>
            <!--上面一行应该在main page里-->
            <a href='/socialapp/register/'>Sign Up</a>
        </div>
    </body>
</html>