<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LogIn</title>
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <form action="/socialapp/login/" method="POST">
            {% csrf_token %}

            <div id="maxbox">
                {% if messages %}

                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <h1>LOGIN</h1>
                {{ form.non_field_errors }}
                <div class="inputbox">

                    <div id="inputText">
                        {{ form.displayName.errors }}
                        <label for="{{ form.displayName.id_for_label }}"></label>
                        {{ form.displayName }}
                    </div>

                    <div id="inputText">
                        {{ form.password.errors }}
                        <label for="{{ form.password.id_for_label }}"></label>
                        {{ form.password }}
                    </div>

                    <input class="inputButton" type='submit' value="Login"/>

                    <div id="sign_up">
                        Don't have account? <a href='/socialapp/register/'>Sign Up</a>
                    </div>
                    
                    
                </div>

            </div>

        </form>
    </body>
</html>