<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/post_list.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"> -->
</head>

<body>
    <header>
        <a href="{% url 'main_page' author_id %}" class="logo">Main Page</a>
        <ul class="navigation">
            <li><a href="{% url 'author_inbox' author_id %}">Inbox</a></li>
            <li><a href="{% url 'author_profile' author_id %}">User Profile</a></li>
            <li><a href="{% url 'add_post' author_id %}">Post</a></li>

        </ul>
    </header>
    <div style="margin: 1% 5%; width: 900px;">
        {% for p in p_list %}
            <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-color: #F1F2B5"></div>
                <ul class="details"></ul>
            </div>
                <div class="description">
            
                    <h1>{{ p.author.displayName }} - {{p.title}}</h1>
                    <h2>{{ p.published }}</h2>
                    <p>{{ p.content }}</p>
            
                    <p class="read-more">
                        <a href="{% url 'show_post' author_id p.id %}">Read More</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

</body>

</html>