<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
    </head>

    <body>
        <div style="margin: 20% 40%;">
            <h1>Wecome to SocialApp</h1>
            <strong>{{ info }}</strong>
            <a href='/socialapp/<uid>/profile/'>Profile</a>
            <a href='/socialapp/inbox/'>Inbox</a>
            <a href='/socialapp/index/'>Log Out</a>
            <a href='/socialapp/friendOnly/'>Friend Only</a>
            <!--List of posts-->

        </div>
    </body>
</html>