<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <header>
        <a href="/socialapp/mainPage/" class="logo">Main Page</a>
        <ul class="navigation">
            <li><a href="#">Inbox</a></li>
            <li><a href="/socialapp/user_profile/">User Profile</a></li>
            <li><a href="/socialapp/add_post/">Post</a></li>
            <!-- 下次开会完成跳转-->
        </ul>
    </header>

    <div class="banner">
        <div class="content">
            <h2>Post</h2>
            <p>
                Post List
            </p>
        </div>
        
    </div>
</body>

</html>