<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Profile</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/post_list.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <a href="{% url 'my_friends' author_id %}" class="logo">User Profile</a>
            <ul class="navigation">
                <li><a href="{% url 'main_page' author_id %}">Main Page</a></li>
                <li><a href="{% url 'inbox' author_id %}">Inbox</a></li>
                <li><a href="{% url 'add_post' author_id %}">Post</a></li>
            </ul>
        </header>

        <div style="margin: 1% 1%; width: 900px;">
            {% for author in author_list %}
                <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">       
                        <h1>{{ author.displayName }}</h1>       
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>