<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SignUp</title>
        <link rel="stylesheet" href="/static/css/register.css">
    </head>
    <body>
        <form action="/socialapp/register/" method="POST">
            {% csrf_token %}

            <div id="maxbox">
                <h1>Sign Up</h1>
                {{ form.non_field_errors }}
                <div class="inputbox">

                    <div id="inputText">
                        {{ form.displayName.errors }}
                        <label for="{{ form.displayName.id_for_label }}"></label>
                        {{ form.displayName }}
                    </div>

                    <div id="inputText">
                        {{ form.password.errors }}
                        <label for="{{ form.password.id_for_label }}"></label>
                        {{ form.password }}
                    </div>

                    <input class="inputButton" type='submit' value="Sign Up"/>

                    <div id="welcome">
                        Want to back to Welcome Page? <a href='/socialapp/index/'>Welcome Page</a>
                    </div>
                    
                    <div id="login">
                        Already have account? <a href='/socialapp/login/'>Log In</a>
                    </div>

                    
                    
                </div>

            </div>

        </form>
    </body>
</html>