<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Add Post</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
            body {
                background: #F1F2B5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                padding: 100px 100px 100px;
                display: flex;
                justify-content: space-between;
            }
        </style>
    </head>

    <body>
        <header>
            <a href="{% url 'select_viewers' author_id post_id %}" class="logo">Who can see the post:</a>
            <ul class="navigation">
                <li><a href="{% url 'inbox' author_id %}">Inbox</a></li>
                <li><a href="{% url 'author_profile' author_id %}">User Profile</a></li>
                <li><a href="{% url 'main_page' author_id %}">Main Page</a></li>
                <!-- 下次开会完成跳转-->
            </ul>
        </header>
        <div class="content">
            <form action="{% url 'select_viewers' author_id post_id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <input type='submit' value="Share">
            </form>
        </div>
    </body>
</html>