<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Show Post</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
            form [name=comment]{
                height: 150px;
                width: 800px;
                padding: 12px 12px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            form [name=comment]:focus {
                border: 3px solid rgb(190, 224, 219);
            }
            form [type=submit] {
                height: 25px;
                width: 70px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.6);
            }
        </style>
    </head>
    <body>
        <header>
            <a href="{% url 'show_post' username post_to_show.id %}" class="logo">Post Details</a>
            <ul class="navigation">
                <li><a href="#">Inbox</a></li>
                <li><a href="{% url 'user_profile' username %}">User Profile</a></li>
                <li><a href="{% url 'mainPage' username %}">Main Page</a></li>
            </ul>
        </header>

        <div style="margin: 10% 5%; width: 900px; word-wrap: break-word; word-break: break-all; /*overflow: hidden;*/ font-size: 20px;">
            <pre>Content: {{ post_to_show.post }}</pre><br>
            <pre>Author: {{ post_to_show.user.username }}
                <form action="{% url 'show_post' username post_to_show.id %}" method="POST">{% csrf_token %}<button type="submit" name='follow_button' value='Follow'>Follow</button></pre><br></form>
            <pre>Date: {{ post_to_show.date }}</pre><br><br>
            {% if username == post_to_show.user.username %}
                <a href="{% url 'edit_post' username post_to_show.id %}">
                    <button style= "background-color: #e6e6e6; width: 70px; height: 25px; border-radius: 3px;" type="button">Edit</button>
                </a>&nbsp&nbsp
                <!-- DELETE 还没写 -->
                <a href="{% url 'mainPage' username %}">
                    <button style= "background-color: #cc3300; width: 70px; height: 25px; border-radius: 3px;" type="button" name='delete_post'>Delete</button>
                </a><br>
                <!-- DELETE 还没写 -->
            {% else %}
                <form action="{% url 'show_post' username post_to_show.id %}" method=POST>
                    {% csrf_token %}
                    <pre>{{ post_to_show.like_count }} like{{ post_to_show.like_count|pluralize }}</pre>
                    <button type="submit" name='like_button' value=like>
                        {% if like_status %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                    </button>
                    <button type="submit" name='share_post' value='Post'>Share
                    </button><br><br><br>
                </form>
                <form action="{% url 'show_post' username post_to_show.id %}" method=POST>
                    {% csrf_token %}
                    {{ form }}<br><br>
                    <input type='submit' name='post_button' value='Post'>
                </form>
            {% endif %}
            <br><pre>Comments:</pre><br>
            <div style="font-size: 16px;">
            <form action = "{% url 'show_post' username post_to_show.id %}" method = "POST">
                {% csrf_token %}
                {% for c in post_comments %}
                    <pre> @{{ c.1 }}: </pre><br>
                    <pre>   {{ c.0 }}</pre><br>
                    <pre>   {{ c.2 }}</pre><br>
                    <button type="hidden" name='delete_comment' value="{{ c.3 }}">Delete</button>
                    <pre>-------------------</pre>
                {% endfor %}
            </form>
            </div>
        </div>
        
    </body>
</html>