<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Show Post</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <a href="/socialapp/show_post/" class="logo">Post Details</a>
            <ul class="navigation">
                <li><a href="#">Inbox</a></li>
                <li><a href="/socialapp/user_profile/">User Profile</a></li>
                <li><a href="/socialapp/mainPage/">Main Page</a></li>
                <!-- 下次开会完成跳转-->
            </ul>
        </header>

        <div style="margin: 10% 5%; width: 900px; word-wrap: break-word; word-break: break-all; /*overflow: hidden;*/ font-size: 20px;">
            <pre>{{ info }}</pre><br><br>
            <a href='/socialapp/edit_post/'>
                <button style= "background-color: #eff7e1; width: 70px; height: 25px; border-radius: 3px;" type="button">Edit</button>
            </a>
            <!-- 下面这行临时放在这，有main page再改 -->
            <br><br><br><br><br><br>
            <a href='/socialapp/user_profile/'>User Profile</a>
            <!-- 上面这行临时放这 -->
        </div>
        
    </body>
</html>