<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Show Post</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/post_list.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
            form [name=comment]{
                height: 150px;
                width: 800px;
                padding: 12px 12px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.6);
            }
            form [name=comment]:focus {
                border: 3px solid rgb(190, 224, 219);
            }
            form [type=submit] {
                height: 25px;
                width: 70px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.6);
            }
        </style>
    </head>
    <body>
        <header>
            {% if post_to_show.source == 'https://cmput404-team13-socialapp.herokuapp.com/' %}
                <a href="{% url 'show_post' author_id post_to_show.id %}" class="logo">Post Details</a>
            {% else %}
                <a href="{% url 'show_post' author_id post_to_show.id %}?remote_post_url={{ post_url }}" class="logo">Post Details</a>
            {% endif %}
            <ul class="navigation">
                <li><a href="{% url 'author_inbox' author_id %}">Inbox</a></li>
                <li><a href="{% url 'author_profile' author_id %}">User Profile</a></li>
                <li><a href="{% url 'main_page' author_id %}">Main Page</a></li>
            </ul>
        </header>

        <p>{{ debug }}</p>

        <div style="margin: 2% 5%; width: 900px; word-wrap: break-word; word-break: break-all; /*overflow: hidden;*/ font-size: 20px;">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-color: #F1F2B5"></div>
                    <ul class="details"></ul>
                </div>
                    <div class="description">
                        <h1>{{ post_to_show.author.displayName }}</h1>
                        {% if author_id != post_to_show.author.id%}
                            <form action="{% url 'show_post' author_id post_to_show.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name='follow_button' value='Follow'>
                                {% if follow_status %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                                </button></pre><br>
                            </form>
                        {% endif %}
                        <h2>{{ post_to_show.published }}</h2>
                        <pre>Title: {{ post_to_show.title }}</pre>
                        <pre>Description: {{ post_to_show.description }}</pre>
                        {% if post_to_show.source == 'https://cmput404-team13-socialapp.herokuapp.com/' %}
                        <pre>{{ post_to_show.get_markdown_content | safe }}</pre>
                        {% else %}
                        <pre>{{ post_to_show.content }}</pre>
                        {% endif %}
                    </div>
            </div>
            <pre>{{ post_to_show.like_count }} like{{ post_to_show.like_count|pluralize }}</pre><br><br>
            {% if author_id == post_to_show.author.id %}
                <!-- <a href="{% url 'edit_post' author_id post_to_show.id %}">
                    <button style= "background-color: #e6e6e6; width: 70px; height: 25px; border-radius: 3px;" type="button">Edit</button>
                </a>&nbsp&nbsp -->
                <form action="{% url 'edit_post' author_id post_to_show.id %}" method=GET>
                    {% csrf_token %}
                    <button type="submit" name='edit_button' value=edit style= "background-color: #dee6b8; display: inline-block; float: left;">Edit</button>
                </form>
                <p style="display: inline-block; float: left;">&nbsp&nbsp</p>

                <form action="{% url 'show_post' author_id post_to_show.id %}" method=GET>
                    {% csrf_token %}
                    <button type="submit" name='delete_button' value=delete style= "background-color: #cc3300; vertical-align: top;">Delete</button>
                </form>

                <!-- <a href="{% url 'main_page' author_id %}">
                    <button style= "background-color: #cc3300; width: 70px; height: 25px; border-radius: 3px;" type="button" name='delete_post'>Delete</button>
                </a><br> -->

            {% else %}
                {% if post_to_show.source == 'https://cmput404-team13-socialapp.herokuapp.com/' %}
                    <form action="{% url 'show_post' author_id post_to_show.id %}" method=POST>
                        {% csrf_token %}
                        <button type="submit" name='like_button' value=like>
                            {% if like_status %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                        <button type="submit" name='share_post' value='Post'>Share
                        </button><br><br><br>
                    </form>
                    <form action="{% url 'show_post' author_id post_to_show.id %}" method=POST>
                        {% csrf_token %}
                        {{ form }}<br><br>
                        <input type='submit' name='post_button' value='Post'>
                    </form>
                {% else %}
                    <form action="{% url 'show_post' author_id post_to_show.id %}?remote_post_url={{ post_url }}" method=POST>
                        {% csrf_token %}
                        <button type="submit" name='like_button' value=like>
                            {% if like_status %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                        <button type="submit" name='share_post' value='Post'>Share
                        </button><br><br><br>
                    </form>
                    <form action="" method=GET>
                        {% csrf_token %}
                        {{ form }}<br><br>
                        <input type='hidden' name='remote_post_url' id='comment_query'>
                        <input type='submit' name='post_button' value='Post'>
                    </form>
                    <script>
                        document.getElementById('comment_query').value = '{{ post_url }}';
                    </script>
                {% endif %}
            {% endif %}
            <br><pre>Comments:</pre><br>
            <div style="font-size: 16px;">
            <form action = "{% url 'show_post' author_id post_to_show.id %}" method = "POST">
                {% csrf_token %}
                {% if post_to_show.visibility == 'FRIENDS' and post_to_show.author.id != author_id %}
                {% else %}
                    <pre>{{ comment_count }} comment{{ comment_count|pluralize }}</pre><br><br>
                    {% for c in post_comments %}
                        <pre> @{{ c.author.displayName }}: </pre><br>
                        <pre>   {{ c.comment }}</pre><br>
                        <pre>   {{ c.published }}</pre><br>
                        {% if c.author.id == author_id %}
                            <button type="hidden" name='delete_comment' value="{{ c.id }}">Delete</button>
                        {% endif %}
                        <pre>-------------------</pre>
                {% endfor %}
                {% endif %}
            </form>
            </div>
        </div>
        <script>
            function fetchJSON(url) {
                console.log(url);
                fetch(url, {
                    method: 'GET',
                    credentials: "same-origin",
                    headers: {
                        'mode': 'no-cors',
                        "Accept": "application/json",
                        'Content-Type': 'application/json',
                    }
                    })
                    .then(response => response.text())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                });
            }
            var url = '{{ post_url }}'; 
            // console.log('url' + url);
            fetchJSON(url);
        </script>
    </body>
</html>